body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    max-width: 500px;
    width: 100%;
    padding: 50px;
    background: white;
    border:20px solid #111;
}
.container .logo{
    text-transform: uppercase;
    letter-spacing: 10px;
    opacity: 0.6;
    margin-bottom: 20px;
}
h2{
    text-transform: uppercase;
    letter-spacing: 10px;
    color: #1b1b1b;
}
input{
    width: 100%;
    margin: 10px 0;
    height: 40px;
    border: none;
    outline: none;
    border-bottom: 1px solid #555;
}
input:focus{
    border-bottom: 1px solid #0067b8;
}
.login-row,
.register-row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10 px 0;
}
.login-row label,
.register-row label{
    font-size: 12px;
    margin-right: 10px;
}
.login-row label input,
.register-row input{
    width:  initial;
    height: initial;
    transform: translateY(1.5px);
}
a{
    text-decoration: none;
    color: #0067b8;

}
a:hover{
    text-decoration: underline;
}
button{
    width: 100%;
    height: 40px;
    background: black;
    border: none;
    outline: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    cursor: pointer;
    margin-top: 10px;
}
p{
    text-align: center;
    margin: 15px 0;
    color: #555;

}
.login-social{
    display: flex;
    justify-content: space-between;
}
.login-social a{
    flex:1;
    text-align: center;
    color:white;
    padding: 7px 0;
}
.login-social #fb{
    background: #0067b8;
    margin-right: 5px;
}
.login-social #gg{
    background: crimson;
    margin-right: 5px;
}
.container .row{
    position: relative;
}
.register-form{
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-in-out;
}
.register-form.toggle{
    visibility: visible;
    opacity: 1;
}

@media(max-width: 450px){
    .container{
        padding: 10px;
        border: none;
    }
}



*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}
